//= require bootswatch.less
//= require ../packages/datatables/media/css/jquery.dataTables.css
//= require ../packages/datatables-bootstrap/dist/dataTables.bootstrap.css
//= require ../packages/dropzone/downloads/css/dropzone.css

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
}

body {
  padding-top: 48px;
}

.form-inline {
  display: inline
}

td ul {
  padding-left: 21px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  &:active, &:hover {
    color: #FFF !important;
    border: 1px solid #FFF;
    background: none;
    background-color: transparent;
    box-shadow: none;
  }
  padding: 0px;
}

.dropzone {
  min-height: 210px;
  padding:0px;
  margin-bottom: 12px;
}

.permission-matrix input[type="checkbox"] {
    margin-left: -22px;
    margin-right: 5px;
}
.permission-matrix {
    padding-left: 22px;
    padding-right: 15px;
}

.permission-matrix p {
    margin-top: 7px;
    margin-bottom: 0px;
}
.permission-matrix hr {
    margin-top: 8px;
}

.permission-matrix .col-sm-3 {
  margin-bottom: 4px;
}

.better-validity-tooltip {
    right: 15px;
}