//= require ../packages/bootstrap3-datepicker/css/datepicker.css

label.title {
    font-weight: bold;
}
.date-range-to {
    width: 48%;
    display: inline-block;
    float: right;
}
.date-range-from {
    width: 48%;
    display: inline-block;
}
